body{
    
    align-content: center;
    text-align: center;
    
       
}
.headprme{
    background: #59aaa4;
    float: left;
    display: inline-block;
    padding: 7px;
   
    
}
.mid-head{
    background: #59aaa4;
    padding: 10px;

}
h4{
  
}
.container{
    text-align: center;
    align-content: center;
    border: thin solid black;
    float: left;
}
.navbar-default{
    border: 10px
}
.userbar{
    width: 100%;
}

.form-control{
   align-content: right;
   
}
.form-group{
    margin-left: 25%;
    margin-right: 25%;
}
.footer{
    clear: both;
    background: gray;
    padding: 50px;

}
.navbar-nav{
    float: right;
    font-size: 18px;
    margin-top: 12px;
}
ul{
    list-style-type: none;
}
.project{
    background: #000;
    height: 250px;
    width: 250px;
    margin: 10px;
    
    
}
.col-md-8{
    margin-left: 12%;
}
row{
    
}
@media screen and (min-width: 500px){
    .navbar-nav{
        float: right;
        font-size: 18px;
        margin-top: 12px;
        
    }
}



