body{
   
    align-content: center;
    text-align: center;
       
}
.header{
    background: #59aaa4;
}
h1{

}
h4{
  
}
.container{
    
}
.userbar{
    
}
.navbar-inverse{
   
}

.form-control{
   align-content: right;
   
}
.footer{
    clear: both;
    background: gray;
    padding: 50px;

}



