body{
    background: grey;
    align-content: center;
    text-align: center;
    
}
.header{
    background: turquoise;
}
.container{

}
li{
    float: left;
}
.form-control{
   align-content: right;
   
}
.footer{
    clear: both;
    background: gray;

}



